<%= form_with(model: institution, local: true) do |form| %>
  <% if institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
        <% institution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :headers %>
    <input name="headers-tags" value=<%= institution.headers.join(',') %>>
  </div>

  <div class="field">
    <%= form.label :headers_in_file %>

    <%= form.label :headers_in_file_true do %>
      <%= form.radio_button :headers_in_file, true %>
      True
    <% end %>

    <%= form.label :headers_in_file_false do %>
        <%= form.radio_button :headers_in_file, false %>
        False
    <% end %>
  </div>

  <div class="field">
    <%= form.label :expenses_negative %>

    <%= form.label :expenses_negative_true do %>
      <%= form.radio_button :expenses_negative, true %>
      True
    <% end %>

    <%= form.label :expenses_negative_false do %>
        <%= form.radio_button :expenses_negative, false %>
        False
    <% end %>
  </div>

  <div class="field">
    <%= form.label :date_format %>
    <%= form.text_field :date_format %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  var tagInput = document.querySelector('input[name="headers-tags"]');

  var tagify = new Tagify(tagInput, {
    originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
  })

  // Transform Tagify input format into an array input fields
  var form = tagInput.form
  form.addEventListener('submit', (event) => {
    var tags = tagInput.value.split(',').map((val) => {
      var i = document.createElement("input");
      i.setAttribute('name', 'institution[headers][]');
      i.setAttribute('value', val.toLowerCase());
      i.setAttribute('hidden', true);
      form.appendChild(i)
    });
    tagInput.parentNode.removeChild(tagInput);
  });
</script>
