<% content_for(:page_title) { 'Institutions' } %>

<p id="notice"><%= notice %></p>
<%= link_to 'New Institution', new_institution_path, class: 'button is-link' %>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= link_to institution.name, institution %></td>
        <td><%=  institution.slug %></td>

        <td>
          <%= link_to edit_institution_path(institution), title: 'Edit institution', class: 'icon has-text-info' do %>
            <i class="fas fa-pen"></i>
          <% end %>
        </td>
        <td>
          <%= link_to institution, { method: :delete,  title: 'Delete institution', class: 'icon has-text-danger', data: { confirm: 'Are you sure?' }} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
