<% content_for(:page_title) { 'Institutions' } %>
<% content_for(:breadcrumbs)  do %>
  <li><%= link_to 'Institutions', institutions_path %></li>
  <li class="is-active"><a href="#" aria-current="page"><%= @institution.name%></a></li>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @institution.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @institution.slug %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @institution.headers %>
</p>

<p>
  <strong>Headers included in file:</strong>
  <%= @institution.headers_in_file %>
</p>

<p>
  <strong>Expenses in statement are shown negative:</strong>
  <%= @institution.expenses_negative %>
</p>

<p>
  <strong>Date format:</strong>
  <%= @institution.date_format %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %>
