<%= form_with(model: balance_entry, local: true) do |form| %>
  <% if balance_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(balance_entry.errors.count, "error") %> prohibited this balance_entry from being saved:</h2>

      <ul>
        <% balance_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% ajax_options = { data: { remote: true, method: :get, url: new_balance_entry_path }} %>
  <%= form.collection_select :account_id, Account.active.order(:institution_id), :id, :name, { selected: @previous_balance_entry&.account_id }, ajax_options %>
  <div id="current_balance">
    Current balance: <%= @previous_balance_entry&.value&.format %>
  </div>
  <br>

  <div class="field">
    <%= form.label :posted_on %>
    <%= form.date_select :posted_on %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, value: number_to_currency(form.object.value.to_f, delimiter: '', unit: ''), step: 0.01 %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
