<p id="notice"><%= notice %></p>
<%= link_to 'Back', root_path %>

<h1>Balance Entries</h1>

<table>
  <thead>
    <tr>
      <th>Posted on</th>
      <th>Institution</th>
      <th>Account</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balance_entries.each do |balance_entry| %>
      <tr>
        <td><%= balance_entry.posted_on %></td>
        <td><%= balance_entry.account.institution.name %></td>
        <td><%= balance_entry.account.name %></td>
        <td><%= balance_entry.value.format %></td>
        <td><%= link_to 'Show', balance_entry %></td>
        <td><%= link_to 'Edit', edit_balance_entry_path(balance_entry) %></td>
        <td><%= link_to 'Destroy', balance_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"><strong>Total</strong></td>
      <td><strong><%= @total_value.format %></strong></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Balance Entry', new_balance_entry_path %>
