<% content_for(:page_title) { 'Balances' } %>

<p id="notice"><%= notice %></p>
<%= link_to 'Back', root_path %>
 |
<%= link_to 'New Balance Entry', new_balance_entry_path %>
<p>---------</p>
<h3>Total value: <u><%= @total_value.format %></u></h3>
<h3>Liquid value: <u><%= @total_liquid.format %></u></h3>
<br/>
<%#  %>
<section>
<table>
  <tbody>
    <% @account_type_data.each do |account_type, total| %>
      <tr>
        <td><%= account_type.titleize %></td>
        <td><%= total.format %></td>
        <td><%= ((total/@total_value)*100).round %>%</td>
      </tr>
    <% end %>

  </tbody>
</table>
<br/>

<table>
  <thead>
    <tr>
      <th>Posted on</th>
      <th>Account</th>
      <th>Value</th>
      <th>Actions</th>
      <th>Totals</th>
    </tr>
  </thead>

  <tbody>
    <% @balance_data.each do |institution_name, institution_data| %>
      <tr>
        <td colspan="4"><strong><%= institution_name %></strong></td>
        <td><strong><%= institution_data[:total].format %></strong></td>
      </tr>

      <% institution_data[:balance_entries].each do |balance_entry| %>
        <tr>
          <td><%= balance_entry.posted_on %></td>
          <td><%= link_to balance_entry.account.name, account_path(balance_entry.account_id) %></td>
          <td><%= balance_entry.value.format %></td>
          <td>
            <em>
              <%= link_to 'Delete', balance_entry, method: :delete, data: { confirm: 'Are you sure?' } %>
            </em>
          </td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>


