<p id="notice"><%= notice %></p>
<%= link_to 'Back', root_path %>

<h1>Balance Entries</h1>

<table>
  <thead>
    <tr>
      <th>Posted on</th>
      <th>Account</th>
      <th>Value</th>
      <th>Actions</th>
      <th>Totals</th>
    </tr>
  </thead>

  <tbody>
    <% @balance_data.each do |institution_name, institution_data| %>
      <tr>
        <td colspan="4"><strong><%= institution_name %></strong></td>
        <td><strong><%= institution_data[:total].format %></strong></td>
      </tr>

      <% institution_data[:balance_entries].each do |balance_entry| %>
        <tr>
          <td><%= balance_entry.posted_on %></td>
          <td><%= balance_entry.account.name %></td>
          <td><%= balance_entry.value.format %></td>
          <td>
            <em>
              <%= link_to 'Edit', edit_balance_entry_path(balance_entry) %>
              | <%= link_to 'Destroy', balance_entry, method: :delete, data: { confirm: 'Are you sure?' } %>
            </em>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan="4"><strong>Grand Total</strong></td>
      <td><strong><u><%= @total_value.format %></u></strong></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Balance Entry', new_balance_entry_path %>
