<% content_for(:page_title) { 'Categories' } %>
<% content_for(:breadcrumbs)  do %>
  <li><%= link_to 'Categories', categories_path %></li>
  <li class="is-active"><a href="#" aria-current="page"><% @category.name %></a></li>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @category.transaction_type.humanize %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @category.keywords %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %>
