<% content_for(:page_title) { 'Reports' } %>

<p id="notice"><%= notice %></p>

<%= render 'filters', filters: @filters %>

<section class="section">
  <h2 class="subtitle">Savings</h1>
  <p id=savings>
    <%= render 'savings', savings_total: @savings_total, income_sum: @income_sum %>
  </p>
</section>

<section class="section">
  <h2 class="subtitle">Expenses</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Percentage</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody id="expenses">
      <%= render 'expenses', expenses_categories: @expenses_categories, expenses_sum: @expenses_sum %>
    </tbody>
  </table>
</section>

<section class="section">

  <h2 class="subtitle">Income</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody id="income">
      <%= render 'income', income_categories: @income_categories, income_sum: @income_sum %>
    </tbody>
  </table>
</section>

