<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Percentage</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |category, value| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= format_percent(value, @total) %>%</td>
        <td><%= value.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul>
  <li><%= link_to 'Transactions', transactions_path %></li>
  <li><%= link_to 'Transaction Batches', transaction_batches_path %></li>
  <li><%= link_to 'Banks', banks_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
</ul>
