<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Percentage</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |category, value| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= format_percent(value, @total) %>%</td>
        <td><%= value.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<strong><%= link_to 'Upload new transactions', new_transaction_batch_path %></strong>
<h5>View:</h5>
<ul>
  <li><%= link_to 'Balances', balance_entries_path %></li>
  <li><%= link_to 'Transactions', transactions_path %></li>
  <li><%= link_to 'Transaction Batches', transaction_batches_path %></li>
</ul>

<h5>Configure:</h5>
<ul>
  <li><%= link_to 'Banks', banks_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
</ul>
