<%= form_with(model: transaction_batch, local: true, html: { multipart: true }) do |form| %>
  <% if transaction_batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction_batch.errors.count, "error") %> prohibited this transaction_batch from being saved:</h2>

      <ul>
        <% transaction_batch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :bank_id, Bank.all, :id, :name %>

  <div class="field">
    <%= form.label :bank_file %>
    <%= form.file_field :bank_file %>
    <%= form.hidden_field :bank_file_cache %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
