<% content_for(:page_title) { 'Statements' } %>
<% content_for(:breadcrumbs)  do %>
  <li><%= link_to 'Statements', transaction_batches_path %></li>
  <li class="is-active"><a href="#" aria-current="page"><%= @transaction_batch.institution.name%></a></li>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @transaction_batch.institution.name %>
</p>

<%= render 'transactions/transactions_list', transactions: @transaction_batch.transactions %>

<p>
  <strong>File:</strong>
  <%= @transaction_batch.file %>
</p>
