<p id="notice"><%= notice %></p>

<%= link_to 'Back', transaction_batches_path %>

<p>
  <strong>Bank:</strong>
  <%= @transaction_batch.bank.name %>
</p>

<%= render 'transactions/transactions_list', transactions: @transaction_batch.transactions %>

<p>
  <strong>File:</strong>
  <%= @transaction_batch.bank_file %>
</p>
