<!DOCTYPE html>
<html>
  <head>
    <title>Money Sleuth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/90ecea0417.js" crossorigin="anonymous"></script>
  </head>

  <body class="theme-page">

    <%= render "layouts/navbar" %>

    <% if content_for?(:page_title) %>
      <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <%= yield(:page_title) %>
            </h1>
          </div>
        </div>
      </section>
    <% end %>

    <section class="section">
      <% if content_for?(:breadcrumbs) %>

        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <%= yield(:breadcrumbs) %>
          </ul>
        </nav>
      <% end %>

      <%= yield %>
    </section>
  </body>

</html>
