<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :account_type %>

    <% Account.account_types.keys.each do |account_type| %>
      <%= form.label "account_type_#{account_type}".to_sym do %>
        <%= form.radio_button :account_type, account_type %>
        <%= account_type.humanize %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.collection_select :institution_id, Institution.all, :id, :name %>
  </div>


  <div class="field">
    <%= form.label :headers %>
    <input name="headers-tags" value=<%= account.headers.join(',') %>>
    <p class="help has-text-grey">
      Input headers in order they appear in CSV headers.<br>
      - Must always container headers: <%= Account::REQUIRED_HEADERS.join(', ')  %><br>
      - For CSV formats with 2 value columns for debit/credit use "value" for credits and "expense_value" keyword for debits
    </p>
  </div>

  <div class="field">
    <%= form.label :headers_in_file %>

    <%= form.label :headers_in_file_true do %>
      <%= form.radio_button :headers_in_file, true %>
      True
    <% end %>

    <%= form.label :headers_in_file_false do %>
        <%= form.radio_button :headers_in_file, false %>
        False
    <% end %>
  </div>

  <div class="field">
    <%= form.label 'Expenses in statement are shown negative' %>

    <%= form.label :expenses_negative_true do %>
      <%= form.radio_button :expenses_negative, true %>
      True
    <% end %>

    <%= form.label ':expenses_negative_false' do %>
        <%= form.radio_button :expenses_negative, false %>
        False
    <% end %>
  </div>

  <div class="field">
    <%= form.label :date_format %>
    <%= form.text_field :date_format %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  var tagInput = document.querySelector('input[name="headers-tags"]');

  var tagify = new Tagify(tagInput, {
    originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
  })

  // Transform Tagify input format into an array input fields
  var form = tagInput.form
  form.addEventListener('submit', (event) => {
    var tags = tagInput.value.split(',').map((val) => {
      var i = document.createElement("input");
      i.setAttribute('name', 'account[headers][]');
      i.setAttribute('value', val.toLowerCase());
      i.setAttribute('hidden', true);
      form.appendChild(i)
    });
    tagInput.parentNode.removeChild(tagInput);
  });
</script>
