<% content_for(:page_title) { 'Accounts' } %>

<p id="notice"><%= notice %></p>
<%= link_to 'New Account', new_account_path, class: 'button is-link' %>
<br><br>
<% @accounts_by_institution.each do |institution_name, accounts| %>
  <h3><%= institution_name %></h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Account type</th>
        <th>Active</th>
        <th>Headers</th>
        <th>Headers in file</th>
        <th>Negative expenses</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% accounts.each do |account| %>
        <tr>
          <td><%= link_to account.name, account %></td>
          <td><%= account.account_type.humanize %></td>
          <td>
            <% if account.active %>
              <div class="icon has-text-success"><i class="fas fa-square-check"></i></div>
            <% else %>
              <div class="icon has-text-danger"><i class="fas fa-square-xmark"></i></div>
            <% end %>
          </td>
          <td><%= account.headers %></td>
          <td>
            <% if account.headers_in_file %>
              <div class="icon has-text-success"><i class="fas fa-square-check"></i></div>
            <% else %>
              <div class="icon has-text-danger"><i class="fas fa-square-xmark"></i></div>
            <% end %>
          </td>
          <td>
            <% if account.expenses_negative %>
              <div class="icon has-text-success"><i class="fas fa-square-check"></i></div>
            <% else %>
              <div class="icon has-text-danger"><i class="fas fa-square-xmark"></i></div>
            <% end %>
          </td>
          <td>
            <%= link_to edit_account_path(account), title: 'Edit account', class: 'icon has-text-info' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </td>
          <td>
            <%= link_to account, { method: :delete,  title: 'Delete account', class: 'icon has-text-danger', data: { confirm: 'Are you sure?' }} do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
