<% content_for(:page_title) { 'Accounts' } %>
<% content_for(:breadcrumbs)  do %>
  <li><%= link_to 'Accounts', accounts_path %></li>
  <li class="is-active"><a href="#" aria-current="page"><%= @account.name%></a></li>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @account.account_type.humanize %>
</p>

<p>
  <strong>Active:</strong>
  <%= @account.active %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @account.institution.name %>
</p>

<canvas id="balances" width="200px" height="100px" data-labels="<%= @balance_labels %>" data-data="<%= @balance_values %>" ></canvas>

<%= link_to 'Edit', edit_account_path(@account) %>

<script>
  document.addEventListener('turbolinks:load', () => {
    var ctx = document.getElementById('balances').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: JSON.parse(ctx.canvas.dataset.labels),
        datasets: [{
          label: 'Balance',
          fill: true,
          data: JSON.parse(ctx.canvas.dataset.data),
        }]
      },
    });
  });
</script>
